---
layout: base
---

<script type="text/javascript" src="/js/icanhaz.min.js"></script>

<script type="text/javascript">
	function params()
  {
	  var vars = [], hash;
	  var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	  for(var i = 0; i < hashes.length; i++)
	  {
		  hash = hashes[i].split('=');
		  vars.push(hash[0]);
		  vars[hash[0]] = hash[1];
	  }
	  return vars;
	}

	$(document).ready(function() {
		if(params()['q'])
		{
			var query = params()['q'];
			$('div#search_results p#loading').show();
		  
			var index = 0;

			var result = $.getJSON('http://uzehyv.api.indexden.com/v1/indexes/phpfogdocs/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
				$('div#search_results div#inner').empty();
			  
				$.each(data.results, function(index, result) {
					result['domain'] = window.location.hostname;
					if( ( index % 2 ) == 0 ){
						$('div#search_results div#inner').append(ich.search_result_even(result));
					}else{
						$('div#search_results div#inner').append(ich.search_result_odd(result));
					}

					index++;
				});

				if(data.results.length == 0)
				{
					$('div#search_results div#inner').append('<p>Sorry, no results for that query.</p>');
				}

				$('div#search_results p#loading').hide();
			});
		}
	});
</script>


<script id="search_result_even" type="text/html">
	<div class="span8 entry light_blue">
		<div class="row">
			<div class="span8">
				<a href="{{ site.url }}{{ "{{ docid "}}}}"><h3>{{ "{{ title "}}}}</h3>
				<p>{{ "{{{ snippet_text "}}}}}</p>
				</a>
			</div>
		</div>
	</div>
</script>

<script id="search_result_odd" type="text/html">
	<div class="span8 entry">
		<div class="row">
			<div class="span8">
				<a href="{{ site.url }}{{ "{{ docid "}}}}"><h3>{{ "{{ title "}}}}</h3>
				<p>{{ "{{{ snippet_text "}}}}}</p>
				</a>
			</div>
		</div>
	</div>
</script>

<div id="search_title" class="row">
	<div class="span8">
		<h1>{{ page.title }}</h1>
	</div>
</div>
<div id="search_results" class="row">
		<noscript>Please enable JavaScript to search.</noscript>   	
		<p id="loading">Loading...</p>
		<div class="span8">
			<div class="row entries">
				<div id="inner">
				</div>
			</div>
		</div>

		<div class="separator">
			<div class="separator_top"></div>
			<div class="separator_bottom"></div>
		</div>
</div>
